
.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 98vh; 
}

.column {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
}

.meetingList {
  background-color: red;
  width: 15%;
}

.transcript {
  /* background-color: blue; */
  width: 45%;
}

.analysis {
  width: 40%;
}